body
{
 margin: 0px;
 padding: 0%;
 
}
html{
  100%;
}




.container
{
    display:flex;
    flex-direction: column;
    height: 200%;
}
.footerstyle
{
    background:linear-gradient(rgb(122, 83, 134),pink);;
    height: 250px;
    display: flex;
    justify-content: center;
}
.headerstyle
{
    /*background-color:#4ea29f;*/
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
   background-color: mediumpurple;
    
}
.bodystyle
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background:linear-gradient(rgb(122, 83, 134),pink);
   /* background:linear-gradient(blue,pink);*/
}
.headercontent
{
    width: 600px;
  
   padding-top: 20px;
background-color: lightblue;
    display: flex;
    align-items: center;
    position: fixed;
    
    
}
.footercontent
{
    width: 600px;
    background-color: black;
}

.bodycontent
{
    width: 600px;
    text-align: center;
    align-items: center;
    background-color:grey;

}




.headercontent ul
 {
   list-style-type: none;
  text-align: right;
 margin: 0;
 padding-top: 15px;
 flex-basis: 70%;
 margin-left: 200px;
 }
 .headercontent li{
    float: left;
    
   }
  
   .headercontent li a{
     
     padding: 5px;
   }

.bodyimg
{
 
  width: 600px;
  height: 500px;
  align-self: center;
  
  background-image: url("css/companyenv.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}

.hrli
{
  width: 350px;
  align-content: center;
}
.bodycontent li{
    display: inline-block;
    padding-right: 70px;
   }






   .footercontent ul
{
list-style-type: none;
}
.footercontent .div1
{
 display: inline-block;
padding-right: 30px;
 padding-bottom: 0px;margin: 0px;

}
 .footercontent .div1 p
{
  height:80px;
  width: 116px;
padding: 0px;
  display: inline-block;

}